<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}        
            <title>Product management</title>
    {% endblock %}
    <link rel="shortcut icon" href="/products/static/images/favicon.png"/>
    <link href="/products/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link type="text/css" href="/products/static/css/base.css" rel="stylesheet"/>
    <link type="text/css" href="/products/static/css/jquery.alerts.css" rel="stylesheet"/>
    {% block css %}
        <!-- For extra css -->
    {% endblock %}

    {#    {% compress js %}#}
    <script type="text/javascript"
            src="/products/static/js/jquery-1.8.2.min.js"></script>
{#    <script type="text/javascript"#}
{#            src="/products/static/js/jquery-ui-1.9.1.custom.js?{{ VERSION }}"></script>#}
    <script type="text/javascript" src="/products/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript"
            src="/products/static/js/jquery.alerts.js"></script>
    <script type="text/javascript"
            src="/products/static/js/base.js?{{ VERSION }}"></script>
    {% block js %}
        <!-- For extra js -->
    {% endblock %}
</head>

<body>
    <header class="container-fluid pagination-centered">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="{% url "index" %}">Home</a></li>
                {% if user.is_superuser %}
                    <li><a href="{% url "admin:index"%}">Admin</a></li>
                {% endif %}
                <li class="dropdown"><a id="drop1" href="#" class="dropdown-toggle">Menu<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li><a class="pull-left" href="{% url "all_products" %}" title="See all products">All Products</a></li>
                        <li><a class="pull-left" href="{% url "view_categories" %}" title="See all categories">Categories</a></li>
                        <li><a class="pull-left" href="{% url "view_materials" %}" title="See all materials">Materials</a></li>
                        <li><a class="pull-left" href="{% url "view_manufacturers" %}" title="See all manufacturers">Manufacturers</a></li>
                        {% if user.is_superuser %}
                            <li><a class="divider"></a></li>
                            <li><a class="pull-left" href="{% url "create_product" %}">Create product</a></li>
                            <li><a class="pull-left" href="{% url "create_category" %}">Create category</a></li>
                            <li><a class="pull-left" href="{% url "create_manufacturer" %}">Create manufacturer</a></li>
                            <li><a class="pull-left" href="{% url "create_material" %}">Create material</a></li>
                        {% endif %}
                    </ul>
                </li>


            </ul>
            <ul class="nav pull-right">
                {% if user.is_authenticated %}
                    <li>
                    <a class="top-info-block" href="{% url "change_password" %}">
                        <i class="icon-user"></i>
                        <span>{{ user.username }}</span>
                    </a>
                    </li>
                    <li>
                    <a id="id_logout" href="{% url "logout" %}">
                        <i class="icon-user"></i>
                        <span>Logout</span>
                    </a>
                    </li>
                {% else %}
                    <li>
                    <a id="id_login" href="{% url "login" %}">
                        <i class="icon-user"></i>
                        <span> Login </span>
                    </a>
                    </li>
                    <li>
                    <a id="settings" href="{% url "register" %}">
                        <i class="icon-pencil"></i>
                        <span>Register</span>
                    </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <h2> Products site </h2>
    </header>
    <div class="row-fluid">
        <div id="id_sidebar" class="span2"></div>
        <div id="id_content" class="span9">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div class="notify-widget-pane">
        <div class="notify" id="notify" style="display: none; z-index: 5000;">
            Sending...
        </div>
    </div>
</body>
</html>
