{% extends 'base.html' %}
{% load bootstrap %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            function add_bootstrap_error(errs) {
                $.each(errs, function (key, val) {
                    var id = "#" + key;
                    var err_msg = '<span class="help-inline">' + val + '</span>';
                    $(id).after(err_msg);
                    $(id).parent().parent().addClass('error');
                });
            }
            function clear_bootstrap_error() {
                $(".error").removeClass('error');
                $("span.help-inline").remove();
            }
            $("form").submit(function(){
                $("#notify").showNotification("Sending data...", 20000);
                clear_bootstrap_error();
                var data = $(this).serialize();
                var args = { type:"POST",
                    url:"",
                    global:false,
                    data: data,
                    datatype:"json",
                    success:function (json) {
                        if (json.success) {
                            $("#notify").showNotification("Password change successfully", 2000);
                            window.location.replace({% url "login" %});
                        } else {
                            $("#notify").showNotification(json.message, 2000);
                            add_bootstrap_error(json.err);
                        }
                    },
                    error:function () {
                        $("#notify").showNotification("There is an error, please try again", 2000);
                    }
                };
                $.ajax(args);
                return false;
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span6">
            <form action="" class="well form-horizontal" id="product_form" method="post">{% csrf_token %}
                <legend>Change password</legend>
                {{ form|bootstrap }}
                <div class="form-actions">
                    <input id="submit" class="btn-danger" type="submit" value="Change password" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}