{% extends 'base.html' %}
{% load bootstrap %}
{% block js %}
{% endblock %}

{% block content %}
    {% if product %}
    <table  class="table table-striped">
        <tr>
            <th>Name</th>
            <td>{{ product.name|default_if_none:""}}</td>
        </tr>
        <tr>
            <th>Category</th>
            {% if product.category_id %}
                <td><a href={% url "product_in_material" product.category_id.id%}>{{ product.category_id}} </a> </td>
            {% else %}
                <td></td>
            {% endif %}

        </tr>

        <tr>
            <th>Material</th>
            {% if product.material_id %}
                <td><a href={% url "product_in_material" product.material_id.id%}>{{ product.material_id}} </a> </td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>

        <tr>
            <th>Manufacturer</th>
            {% if product.manufacturer_id %}
                <td><a href={% url "product_in_manufacturer" product.manufacturer_id.id%}>{{ product.manufacturer_id}} </a> </td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>

        <tr>
            <th>Description</th>
            <td>{{ product.description|default_if_none:""}}</td>
        </tr>

        <tr>
            <th>Estimated value</th>
            <td>{{ product.value|default_if_none:""}}</td>
        </tr>

        <tr>
            <th>Created date</th>
            <td>{{ product.created_date|date:"m-d-Y"}}</td>
        </tr>

        <tr>
            <th>Created by</th>
            <td>{{ product.user_id|default_if_none:""}}</td>
        </tr>

    </table>
    {% else %}
        <h3>No product with this link</h3>
    {% endif %}
{% endblock %}