div.notify-widget-pane {
    text-align: center;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 5000;
    width: 100%;
}

div.notify, span.notify {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 2px 10px;
    background: #FFF1A8;
    border-color: #fff1bb;
    color: black;
    width: auto;
    display: inline-block;
    border: 3px solid transparent;
    border-radius: 3px;
    visibility: visible;
    -moz-border-radius: 3px; /*firefox*/
    -webkit-border-radius: 3px; /*chrome*/
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }